<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.FilePathMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.model.domain.FilePath">
        <id column="form_id" property="formId" />
        <result column="phone_number" property="phoneNumber" />
        <result column="path" property="path" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
